{
    "crew": [
        {
            "name": "AURA",
            "cuerpo": "IA",
            "is_sano": true,
            "is_contagiado": false,
            "is_criogenizado": false,
            "rango": "sistema",
            "id": "abf",
            "uuid": "f0f1104a-5464-40af-88b8-3e3af04a0aa9",
            "auth": ["god"],
            "attrs": {
                "ciencia": 0,
                "constitucion": 20,
                "mecanica": 0,
                "combate": 0,
                "credibilidad": 10,
                "programacion": 2
            }
        },
        {
            "name": "Antón",
            "cuerpo": "Ingeniería",
            "is_sano": true,
            "is_contagiado": false,
            "is_criogenizado": false,
            "rango": "programador",
            "id": "DABEST",
            "uuid": "afecc5fa-42da-455e-802e-05a79e48f1de",
            "auth": ["crew", "engineer"],
            "attrs": {
                "ciencia": 0,
                "constitucion": 1,
                "mecanica": 2,
                "combate": 0,
                "credibilidad": 0,
                "programacion": 7
            }
        },
        {
            "name": "Cyber",
            "cuerpo": "Ingeniería",
            "is_sano": true,
            "is_contagiado": false,
            "is_criogenizado": false,
            "rango": "informatico",
            "id": "abe",
            "uuid": "afecc5fa-82da-455e-802e-05a79e48f1de",
            "auth": ["crew", "engineer"],
            "attrs": {
                "ciencia": 0,
                "constitucion": 1,
                "mecanica": 2,
                "combate": 0,
                "credibilidad": 0,
                "programacion": 7
            }
        },
        {
            "name": "Max",
            "cuerpo": "Ingeniería",
            "is_sano": true,
            "is_contagiado": false,
            "is_criogenizado": false,
            "rango": "almirante",
            "id": "abd",
            "uuid": "cba92024-b70b-4931-84df-4e6adaa20660",
            "auth": ["crew", "admiral", "oficial"],
            "attrs": {
                "ciencia": 0,
                "constitucion": 2,
                "mecanica": 0,
                "combate": 3,
                "credibilidad": 5,
                "programacion": 0
            }
        },
        {
            "name": "Brute",
            "cuerpo": "Ingeniería",
            "is_sano": true,
            "is_contagiado": false,
            "is_criogenizado": false,
            "rango": "militar",
            "id": "abc",
            "uuid": "fa2562e6-a959-4fc8-b524-162dfe1cd0fc",
            "auth": ["crew", "oficial"],
            "attrs": {
                "ciencia": 0,
                "constitucion": 2,
                "mecanica": 2,
                "combate": 4,
                "credibilidad": 2,
                "programacion": 0
            }
        },
        {
            "name": "Smarty",
            "cuerpo": "Ingeniería",
            "is_sano": true,
            "is_contagiado": false,
            "is_criogenizado": false,
            "rango": "cientifico",
            "id": "abg",
            "uuid": "b233abbe-6219-424c-afff-c11e49a2ba77",
            "auth": ["crew", "cientific"],
            "attrs": {
                "ciencia": 5,
                "constitucion": 2,
                "mecanica": 0,
                "combate": 1,
                "credibilidad": 2,
                "programacion": 0
            }
        }
    ],
    "arca": {
        "health": {
            "is_arca_autodestructing": false,
            "temperatura_interior": 23,
            "soporte_vital": 100,
            "cellar": 100,
            "reactor": 100,
            "exterior": 100,
            "circuits": 100,
            "boiler": 100,
            "gardens": 100,
            "sleeping_quarters": 100
        },
        "stocks": {
            "algolosinas": [32,"u"]
        },
        "fuel": {
            "capacidad": 100,
            "restante": 20.0,
            "upgraded": false
        }
    },
    "users": []
}