{
    "chatId": -1,
    "crew": [
        {
            "name": "AURA",
            "cuerpo": "IA",
            "is_sano": true,
            "is_contagiado": false,
            "is_criogenizado": false,
            "rango": "sistema",
            "id": "abf",
            "uuid": "f0f1104a-5464-40af-88b8-3e3af04a0aa9",
            "permisos": ["admin", "god"],
            "attrs": {
                "ciencia": 0,
                "constitucion": 20,
                "mecanica": 0,
                "combate": 0,
                "credibilidad": 10,
                "programacion": 2
            }
        },
        {
            "name": "Antón",
            "cuerpo": "Ingeniería",
            "is_sano": true,
            "is_contagiado": false,
            "is_criogenizado": false,
            "rango": "Cabeza líder y genio brillante del departamento de informática",
            "id": "DABEST",
            "uuid": "178e510b-379a-4794-8316-504233f3e4b2",
            "permisos": ["mecanico","operador_esclusa"],
            "attrs": {
                "ciencia": 0,
                "constitucion": 1,
                "mecanica": 2,
                "combate": 0,
                "credibilidad": 0,
                "programacion": 7
            }
        },
        {
            "name": "Carlos",
            "cuerpo": "Militar",
            "is_sano": true,
            "is_contagiado": false,
            "is_criogenizado": false,
            "rango": "Almirante",
            "id": "TV2BS",
            "uuid": "295c2ba2-8452-4aa0-9751-d05f538a7bea",
            "permisos": ["operador_esclusa","almirante","militar","medico","broadcast"],
            "attrs": {
                "ciencia": 0,
                "constitucion": 1,
                "mecanica": 0,
                "combate": 2,
                "credibilidad": 4,
                "programacion": 0
            }
        },
        {
            "name": "Irene",
            "cuerpo": "Militar",
            "is_sano": true,
            "is_contagiado": false,
            "is_criogenizado": false,
            "rango": "Delegado ejecutivo",
            "id": "V5PBZ",
            "uuid": "faa5bba9-ef93-49df-9d40-15702017e0a3",
            "permisos": ["militar"],
            "attrs": {
                "ciencia": 0,
                "constitucion": 1,
                "mecanica": 0,
                "combate": 0,
                "credibilidad": 3,
                "programacion": 0
            }
        },
        {
            "name": "Nóbel",
            "cuerpo": "Militar",
            "is_sano": true,
            "is_contagiado": false,
            "is_criogenizado": false,
            "rango": "Delegado ejecutivo",
            "id": "GNEDP",
            "uuid": "962d499e-dfe6-4009-b47d-0d30c3d83e15",
            "permisos": ["militar"],
            "attrs": {
                "ciencia": 0,
                "constitucion": 1,
                "mecanica": 0,
                "combate": 0,
                "credibilidad": 2,
                "programacion": 0
            }
        },
        {
            "name": "Nora",
            "cuerpo": "Ingeniería",
            "is_sano": true,
            "is_contagiado": false,
            "is_criogenizado": false,
            "rango": "",
            "id": "3CKYD",
            "uuid": "45f5300e-b067-4adf-a577-40a62917c5b3",
            "permisos": [],
            "attrs": {
                "ciencia": 0,
                "constitucion": 1,
                "mecanica": 0,
                "combate": 0,
                "credibilidad": 4,
                "programacion": 0
            }
        },
        {
            "name": "Dan",
            "cuerpo": "Ingeniería",
            "is_sano": true,
            "is_contagiado": false,
            "is_criogenizado": false,
            "rango": "",
            "id": "EFPHU",
            "uuid": "7b012d79-1eb7-466c-a049-e4da32ea0f61",
            "permisos": [],
            "attrs": {
                "ciencia": 0,
                "constitucion": 1,
                "mecanica": 0,
                "combate": 0,
                "credibilidad": 1,
                "programacion": 0
            }
        },
        {
            "name": "Edu",
            "cuerpo": "Ciencia",
            "is_sano": true,
            "is_contagiado": false,
            "is_criogenizado": false,
            "rango": "",
            "id": "JK16F",
            "uuid": "0b17b144-704a-49cd-b1a3-56f8eed9e173",
            "permisos": [],
            "attrs": {
                "ciencia": 0,
                "constitucion": 1,
                "mecanica": 0,
                "combate": 0,
                "credibilidad": 1,
                "programacion": 0
            }
        },
        {
            "name": "Rubén",
            "cuerpo": "Ciencia",
            "is_sano": true,
            "is_contagiado": false,
            "is_criogenizado": false,
            "rango": "",
            "id": "PSK0H",
            "uuid": "7f51d8d0-a531-43ba-bda2-c58a77dad621",
            "permisos": [],
            "attrs": {
                "ciencia": 0,
                "constitucion": 1,
                "mecanica": 0,
                "combate": 0,
                "credibilidad": 2,
                "programacion": 0
            }
        },
        {
            "name": "Fran",
            "cuerpo": "Ciencia",
            "is_sano": true,
            "is_contagiado": false,
            "is_criogenizado": false,
            "rango": "",
            "id": "JUZNM",
            "uuid": "de2a2b0f-884f-47c8-9f84-6fc3c5e7fbf7",
            "permisos": [],
            "attrs": {
                "ciencia": 0,
                "constitucion": 1,
                "mecanica": 0,
                "combate": 0,
                "credibilidad": 3,
                "programacion": 0
            }
        },
        {
            "name": "Reyes",
            "cuerpo": "Ciencia",
            "is_sano": true,
            "is_contagiado": false,
            "is_criogenizado": false,
            "rango": "",
            "id": "9ILOX",
            "uuid": "cf6a4062-dec9-48b1-814b-a3bfab666eed",
            "permisos": [],
            "attrs": {
                "ciencia": 0,
                "constitucion": 1,
                "mecanica": 0,
                "combate": 0,
                "credibilidad": 4,
                "programacion": 0
            }
        },
        {
            "name": "Bego",
            "cuerpo": "Ciencia",
            "is_sano": true,
            "is_contagiado": false,
            "is_criogenizado": false,
            "rango": "",
            "id": "IC0LJ",
            "uuid": "8f66e442-dea3-4d5f-bf61-c4451526f9bd",
            "permisos": [],
            "attrs": {
                "ciencia": 0,
                "constitucion": 1,
                "mecanica": 0,
                "combate": 0,
                "credibilidad": 1,
                "programacion": 0
            }
        },
        {
            "name": "Anastasia",
            "cuerpo": "Ciencia",
            "is_sano": true,
            "is_contagiado": false,
            "is_criogenizado": false,
            "rango": "",
            "id": "UUIGX",
            "uuid": "039ad41a-ab04-4fff-8fa5-1311aeabe490",
            "permisos": [],
            "attrs": {
                "ciencia": 0,
                "constitucion": 1,
                "mecanica": 0,
                "combate": 0,
                "credibilidad": 2,
                "programacion": 0
            }
        },
        {
            "name": "Samuel",
            "cuerpo": "Espero que Ingeniería",
            "is_sano": true,
            "is_contagiado": false,
            "is_criogenizado": false,
            "rango": "",
            "id": "Y7STY",
            "uuid": "ea571990-85d9-4eed-b9dc-c95654c95eec",
            "permisos": [],
            "attrs": {
                "ciencia": 0,
                "constitucion": 1,
                "mecanica": 0,
                "combate": 0,
                "credibilidad": 2,
                "programacion": 0
            }
        }
    ],
    "arca": {
        "health": {
            "is_fin_del_juego": false,
            "is_arca_autodestructing": false,
            "temperatura_interior": 23,
            "estado_casco": 100
        },
        "stocks": {
            "algolosina": [32,"u"]
        },
        "combustible": {
            "capacidad": 100,
            "restante": 20.0,
            "upgraded": false
        },
        "salas": [
            {
                "id": "T4QRHA",
                "nombre": "Camarotes",
                "descripcion": "",
                "aforo": 6,
                "is_puerta_abierta": false,
                "estado": 100,
                "permisos": [],
                "atributos": [],
                "datos": {}
            },
            {
                "id": "Q4IQQB",
                "nombre": "Camarote del Almirantazgo",
                "descripcion": "",
                "aforo": 2,
                "is_puerta_abierta": false,
                "estado": 100,
                "permisos": ["almirante"],
                "atributos": [],
                "datos": {}
            },
            {
                "id": "ATRPOP",
                "nombre": "Hospital",
                "descripcion": "",
                "aforo": 3,
                "is_puerta_abierta": false,
                "estado": 100,
                "permisos": [],
                "atributos": ["sellable"],
                "datos": {
                    "permisos_sellado": ["medico"]
                }
            },
            {
                "id": "EBPJ8Q",
                "nombre": "Sala de criogenización",
                "descripcion": "",
                "aforo": 2,
                "is_puerta_abierta": false,
                "estado": 100,
                "permisos": [],
                "atributos": [],
                "datos": {}
            },
            {
                "id": "8UXBNK",
                "nombre": "Cultivo de Algolosinas I",
                "descripcion": "",
                "aforo": 3,
                "is_puerta_abierta": false,
                "estado": 100,
                "permisos": [],
                "atributos": [],
                "datos": {}
            },
            {
                "id": "1CFF0T",
                "nombre": "Cultivo de Algolosinas II",
                "descripcion": "",
                "aforo": 3,
                "is_puerta_abierta": false,
                "estado": 100,
                "permisos": [],
                "atributos": [],
                "datos": {}
            },
            {
                "id": "H2GNP9",
                "nombre": "Unidad de tratamiento de residuos",
                "descripcion": "",
                "aforo": 1,
                "is_puerta_abierta": false,
                "estado": 100,
                "permisos": ["mecanico"],
                "atributos": ["autocerrado"],
                "datos": {}
            },
            {
                "id": "OQENCR",
                "nombre": "Celda de aislamiento I",
                "descripcion": "",
                "aforo": 1,
                "is_puerta_abierta": false,
                "estado": 100,
                "permisos": [],
                "atributos": ["sellable"],
                "datos": {
                    "permisos_sellado": ["militar"]
                }
            },
            {
                "id": "IYDE7X",
                "nombre": "Celda de aislamiento II",
                "descripcion": "",
                "aforo": 1,
                "is_puerta_abierta": false,
                "estado": 100,
                "permisos": [],
                "atributos": ["sellable"],
                "datos": {
                    "permisos_sellado": ["militar"]
                }
            },
            {
                "id": "MYIMID",
                "nombre": "Sala de comunicaciones",
                "descripcion": "",
                "aforo": 2,
                "is_puerta_abierta": false,
                "estado": 100,
                "permisos": [],
                "atributos": [],
                "datos": {}
            },
            {
                "id": "NCC4YA",
                "nombre": "Cámara del reactor",
                "descripcion": "",
                "aforo": 2,
                "is_puerta_abierta": false,
                "estado": 100,
                "permisos": [],
                "atributos": [],
                "datos": {}
            },
            {
                "id": "ZL73LV",
                "nombre": "Laboratorio de ciencia",
                "descripcion": "",
                "aforo": 3,
                "is_puerta_abierta": false,
                "estado": 100,
                "permisos": ["cientifico"],
                "atributos": [],
                "datos": {}
            },
            {
                "id": "SNDP9Z",
                "nombre": "Almacén",
                "descripcion": "",
                "aforo": 1,
                "is_puerta_abierta": false,
                "estado": 100,
                "permisos": [],
                "atributos": [],
                "datos": {}
            },
            {
                "id": "ZR5QA7",
                "nombre": "Centro de Mando",
                "descripcion": "",
                "aforo": 2,
                "is_puerta_abierta": false,
                "estado": 100,
                "permisos": ["militar"],
                "atributos": [],
                "datos": {}
            },
            {
                "id": "H1VB2M",
                "nombre": "Unidad de soporte vital",
                "descripcion": "",
                "aforo": 2,
                "is_puerta_abierta": false,
                "estado": 100,
                "permisos": [],
                "atributos": [],
                "datos": {}
            },
            {
                "id": "RDPI8R",
                "nombre": "Sala de operaciones",
                "descripcion": "",
                "aforo": 10,
                "is_puerta_abierta": false,
                "estado": 100,
                "permisos": [],
                "atributos": [],
                "datos": {}
            },
            {
                "id": "DYHWVI",
                "nombre": "Esclusa",
                "descripcion": "",
                "aforo": 2,
                "is_puerta_abierta": false,
                "estado": 100,
                "permisos": [],
                "atributos": ["esclusa"],
                "datos": {
                    "modo_esclusa": "NULL",
                    "permisos_esclusa": ["operador_esclusa"]
                }
            }
        ]
    },
    "users": []
}